USE [BiomedicalDB]
GO
/****** Object:  Table [dbo].[ECRIS]    Script Date: 9/29/2021 9:29:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ECRIS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[NameAr] [nvarchar](max) NULL,
 CONSTRAINT [PK_ECRIS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ECRIS] ON 

INSERT [dbo].[ECRIS] ( [Code], [Name], [NameAr]) VALUES (N'15550', N'Alarm', N'Alarm ar')
INSERT [dbo].[ECRIS] ( [Code], [Name], [NameAr]) VALUES (N'15275', N'AWLS', N'AWLS ar')
INSERT [dbo].[ECRIS] ( [Code], [Name], [NameAr]) VALUES (N'10014', N'Acupuncture Kits', NULL)
GO
SET IDENTITY_INSERT [dbo].[ECRIS] OFF
